*.o
*.d
*.so
*.a
*.mk
testingData/indeces
testingData/lib
testingData/data
a.out
*/Debug/*
testingData/lex
testingData/tmp
runquery
rmodel
makeprior
indrid
harvestlinks
buildindex
dumpindex
ModifyFields
pagerank
annotateFile
*.7z
.metadata
